.TripCost {
  text-align: center;
}

.TripCost-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.TripCost-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.TripCost-title {
  font-size: 1.5em;
}

.TripCost-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  padding-top: 165px;
  height: 86vh;
  position: "relative";
  top: 120px;
  z-index: 0;
  height: 660px;
}
html,
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 0;
}

/* Below is for PopOver */
.info-box-wrap {
  margin: 0 0 0 0;
  background: #fff;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.08);
}

.info-box-text-wrap {
  height: 80px !important;
  width: 200px;
  float: left;
  overflow: hidden;
}

.address {
  padding: 6px 5px 1px 0;
  margin: 0 0 10px 0;
  font-family: "Roboto Slab";
  color: #6c84a0;
  font-weight: 700;
  white-space: nowrap;
  max-height: 36px;
  overflow: ellipsis;
  word-break: break-word;
}
.info-box-text-wrap p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.price {
  color: #b25b00;
}

.img {
  width: 75px;
  height: 71px;
  float: left;
  margin-right: 10px;
  padding-top: 0;
  margin-top: 0;
}

.gasStationIcon {
  margin: -5px 2px 0px 12px;
}

.yourStop {
  font-weight: 100;
  color: #c5b20a;
}
