.TripCost {
  text-align: center;
}

.TripCost-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.TripCost-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.TripCost-title {
  font-size: 1.5em;
}

.TripCost-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  padding-top: 165px;
  height: 86vh;
  position: "relative";
  top: 120px;
  z-index: 0;
  height: 660px;
}
html,
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 0;
}

/* Below is for PopOver */
/* .map-popover-content {
  align-items: center;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

.image {
  background: #c3cbd7 center center no-repeat;
  background-size: cover;
  border-radius: 3px 0 0 3px;
  flex: 0 0 60px;
  height: 60px;
  position: relative;
  width: 60px;
}

.info {
  flex: 1 1 auto;
  margin: 0 5px;
  text-align: left;
  width: 0;
  display: block;
}

.name {
  color: #202020;
  font: 14px/16px Helvetica;
  word-wrap: break-word;
}

.stats {
  color: #5a595b;
  font: 12px/16px Helvetica;
  display: block;
}

.attractions {
  color: #00acdc;
}

.price-range {
  color: #5a595b;
  font: 12px/16px Helvetica;
}
 */
