.map-popover-content {
  align-items: center;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

.image {
  background: #c3cbd7 center center no-repeat;
  background-size: cover;
  border-radius: 3px 0 0 3px;
  flex: 0 0 60px;
  height: 60px;
  position: relative;
  width: 60px;
}

.info {
  flex: 1 1 auto;
  margin: 0 5px;
  text-align: left;
  width: 0;
}

.name {
  color: #202020;
  font: 14px/16px Helvetica;
  word-wrap: break-word;
}

.stats {
  color: #5a595b;
  font: 12px/16px Helvetica;
}

.attractions {
  color: #00acdc;
}

.price-range {
  color: #5a595b;
  font: 12px/16px Helvetica;
}
